.container {
    min-width: 220px;
    /* min-height: 720px; */
}

.container-principal {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Centra en Y */
    align-items: center; /* Centra en X */
    justify-content: center; /* Centra en Y */
    min-height: 100vh; /* Garantiza que ocupe al menos toda la altura de la ventana */
}

/* Aplica flexbox para centrar el contenido en X y Y */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Centra en Y */
    align-items: center; /* Centra en X */
    justify-content: center; /* Centra en Y */
    min-height: 100vh; /* Garantiza que ocupe al menos toda la altura de la ventana */
}

body::before {
    content: "";
    background-image: url("../images/background.jpg");
    filter: blur(20px); /* Ajusta el valor según el grado de desenfoque deseado */
    position: absolute;
    top: -10px; /* Desplaza el pseudo-elemento 10 píxeles hacia arriba para cubrir los bordes */
    left: -10px; /* Desplaza el pseudo-elemento 10 píxeles hacia la izquierda para cubrir los bordes */
    width: calc(100% + 20px); /* Aumenta el ancho para cubrir los bordes */
    height: calc(100% + 20px); /* Aumenta la altura para cubrir los bordes */
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra negra en los bordes */
}

.table {
    margin: auto;
    background-color: #bdbdb969; /* Fondo de la tabla transparente */
    border-radius: 10px; /* Bordes redondeados */       
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

td {
    border: 1px solid #dddddd; /* Borde gris claro */
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/* Estilo para los números */
td.number {
    background-color: #ffffff; /* Fondo blanco por defecto */
}

/* Estilo para el número en estado activo */
td.active {
    background-color: #383837; /* Fondo amarillo en estado activo */
    color: #ffffff; /* Texto blanco */
}

/* Estilo para el grupo de entrada de Bootstrap */
.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilo para ocultar texto en pantallas más pequeñas */
@media (max-width: 768px) {
    .btn .text {
        display: none;
    }
}